.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    border:  1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
}

.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.card .profileName{
    margin-top: 1px;
}

.card p{
    margin: 20px 0;
}

.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color:  white;
    color: black;
}