body {
    display: flexbox;
}
.id-card-outer{
    padding: 1rem;
    background-color: purple;
    height: 300px;
    width: 250px;
    font-style: italic;
    color: black;
    border: 2px solid black;
    border-radius: 10%;
}

.id-card{
    padding: 1rem;
}

img{
    margin-left: 2rem;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}