.card{
    height: 300px;
    width: 300px;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #111;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 42px;
    width: 39px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
}

.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #8b8b8b;
}

.center{
}

.center h3{
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}

.center h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;
}

.center h2{
    font-size: 20px;
    margin: 0;
}

.center .tags{
    display: flex;
    gap: 5px;
}

.center .tags h4{
    font-size: 12px;
    background-color: #dadada;
    color: #111;
    padding: 3px 8px;
    font-weight: 500;
    padding: 3px 9px;
    border-radius: 50px;
}

.bottom{
    height: 70px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #b1b1b1;
    padding-top: 15px;
    color: black;
}

.bottom h3{
    font-size: 20px;
    margin-bottom: 0;
}

.bottom p{
    font-size: 12px;
    margin-top: 0;
    font-weight: 400;
}

.bottom button{
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    background-color: #111;
}